@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

.btn-group .button {
  background-color: black;
  border: 1px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 12%;
}

.btn-group .button:not(:last-child) {
  border-right: none;
}

.btn-group .button:hover {
  background-color: #3e8e41;
}

body {
  resize: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:black;
  background-color: white;
} 

.webfeeds{
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  color: black;
}

.ss2019{
  color: black;
}

a{
  text-decoration: none;
  color: black;
}

td.mylinks:hover{
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
} 

h1 {
  font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: black;
}

h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: black;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}

.container th h1 {
	font-weight: bold;
	font-size: 1em;
  text-align: left;
  color: #ffffff;
}


.container td {
	  font-weight: normal;
    font-size: 1em;
    width:10%;
  -webkit-box-shadow: 0 2px 2px -2px black;
	   -moz-box-shadow: 0 2px 2px -2px black;
	        box-shadow: 0 2px 2px -2px black;
}
td{
  border : 2px solid black;
}

.container {
	  text-align: left;
	  overflow: hidden;
	  width: 100%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td, .container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;  
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  background-color: white;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: white;
}

.container th {
    background-color: #333;
    border: 2px solid black;
}

.container tr:hover {
   background-color: whitesmoke;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
  background-color: white;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #313335 -1px 1px, #313335 -2px 2px, #313335 -3px 3px, #313335 -4px 4px, #313335 -5px 5px, #313335 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}
